/*CLIENT SIDE HOME PAGE CSS*/

* {
	box-sizing: border-box;
}

#mainHeader {
	text-align: center;
}

header a {
	text-decoration: none;
}



#login, #signUp {
	text-align: center;
	border: 1px solid black;
	margin: 0 auto;
	background: rgb(204, 255, 204, 0.5);
	width:	50%;
}

fieldset {
	border: none;
	display: block;
}



button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

/*HOME PAGE CSS*/

#sticky-header {
	position: fixed;
	width: 100%;
	top: 0;
	margin: 0 auto;
}

#logo {
	height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-top: 0;
	float: left;

}

.main-nav {
	float: right;
	padding: 10px;
	margin: 20px 10px ;
}

.main-nav li {
	margin: 15px 2px;
	float: left;
	display: inline-block;
}

.home-page-content {
	padding-top: 100px;
}
